Repository beefchimi/beeftools, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧰 Dependency, 📚 Documentation, ⚖️ Legal, 🔖 Release, 🧪 Testing, 🛠️ Tooling

:arrow_up: [Dependency] Version bumps
  .nvmrc
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:bug: [classNames] Prevent undefined or null as variant keys
  src/classNames.ts
  src/tests/classNames.test.ts
Labels: 🧪 Testing

:memo: [Report] Add Changesets
  .changeset/quick-flowers-decide.md
Labels: none

🐛 [classNames] Prevent explicit `undefined` or `null` keys (#32)
  .changeset/quick-flowers-decide.md
  .nvmrc
  package-lock.json
  package.json
  src/classNames.ts
  src/tests/classNames.test.ts
Labels: 🧰 Dependency, 🧪 Testing, 🛠️ Tooling

:arrow_up: [Deps] Bumpies
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:memo: [Report] Add Changesets
  .changeset/slimy-clouds-itch.md
Labels: none

⬆️ [Deps] Bumpies (#34)
  .changeset/slimy-clouds-itch.md
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:robot: [Actions] Update workflows
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: 🛠️ Tooling

:arrow_up: [Deps] Bump node to v24
  .nvmrc
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:hammer_and_wrench: [Vite] Update all tooling
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  config/tests-setup.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/array.ts
  tsconfig.json
Labels: 🧰 Dependency, 🛠️ Tooling

:books: [Doc] Add a TASK.md for current work
  TASK.md
Labels: none

:test_tube: [Tests] Improve global config
  config/tests-setup.ts
  src/tests/media.test.ts
  src/tests/support.test.ts
Labels: 🧪 Testing, 🛠️ Tooling

:hammer_and_wrench: [Zed] Add config
  .zed/settings.json
Labels: none

:art: [Code] Auto format
  src/array.ts
  src/classNames.ts
  src/error.ts
  src/media.ts
  src/object.ts
  src/string.ts
  src/support.ts
  src/tests/string.test.ts
  src/types.ts
  vitest.config.ts
Labels: 🧪 Testing, 🛠️ Tooling

:fire: [Plan] Remove the TASK.md
  TASK.md
Labels: none

:hammer_and_wrench: [OXC] Adjust configs
  .oxfmtrc.json
  .oxlintrc.json
Labels: none

:hammer_and_wrench: [Vite] Post-update improvements
  .github/workflows/lint.yml
  .gitignore
  .npmignore
  .vscode/extensions.json
  .vscode/settings.json
  config/definitions/images.d.ts
  src/general.ts
  src/tests/string.test.ts
  src/types.ts
Labels: 🧪 Testing, 🛠️ Tooling

:recycle: [Code] Final pass before merge
  .oxlintrc.json
  package-lock.json
  package.json
Labels: 🧰 Dependency, 🛠️ Tooling

:memo: [Report] Add Changesets
  .changeset/hip-rabbits-smile.md
Labels: none

🧰 [Deps] Bumps for `04-04-2026` (#35)
  .changeset/hip-rabbits-smile.md
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .npmignore
  .nvmrc
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
  config/definitions/images.d.ts
  config/tests-setup.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/array.ts
  src/classNames.ts
  src/error.ts
  src/general.ts
  src/media.ts
  src/object.ts
  src/string.ts
  src/support.ts
  src/tests/media.test.ts
  src/tests/string.test.ts
  src/tests/support.test.ts
  src/types.ts
  tsconfig.json
  vitest.config.ts
Labels: 🧰 Dependency, 🧪 Testing, 🛠️ Tooling

:art: [Action] Clarify release workflow
  .github/workflows/release.yml
Labels: 🛠️ Tooling

:art: [Action] Clarify release workflow (#37)
  .github/workflows/release.yml
Labels: 🛠️ Tooling

.github/labeler.yml:

🧰 Dependency:
  - changed-files:
      - any-glob-to-any-file: 'package-lock.json'

📚 Documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**']

⚖️ Legal:
  - changed-files:
      - any-glob-to-any-file: 'LICENSE'

🔖 Release:
  - changed-files:
      - any-glob-to-any-file: 'CHANGELOG.md'

🧪 Testing:
  - changed-files:
      - any-glob-to-any-file: '**/*.test.ts'

🛠️ Tooling:
  - changed-files:
      - any-glob-to-any-file:
          [
            '.github/**',
            '.vscode/**',
            '.editorconfig',
            '.*ignore',
            '.nvmrc',
            '.prettier*',
            'config/**',
            '*.config.*',
            'package*.json',
            'tsconfig*.json',
          ]
